<!--<div style="text-align:center">-->
<!--  <h1>Welcome to text-editor!</h1>-->
<!--  <img-->
<!--    width="450"-->
<!--    src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png"-->
<!--  />-->
<!--</div>-->
<!--<div>Message: {{ hello$ | async | json }}</div>-->

<section fxLayout="column" fxLayoutAlign="center">
  <h1>Header</h1>
  <mat-form-field class="example-full-width" style="background-color: blue">
    <mat-label>Leave a comment</mat-label>
    <textarea matInput placeholder="Ex. It makes me feel..."></textarea>
  </mat-form-field>
</section>
