<!--<div style="text-align:center">-->
<!--  <h1>Welcome to text-editor!</h1>-->
<!--  <img-->
<!--    width="450"-->
<!--    src="https://raw.githubusercontent.com/nrwl/nx/master/nx-logo.png"-->
<!--  />-->
<!--</div>-->
<!--<div>Message: {{ hello$ | async | json }}</div>-->

<section class="container">
  <div class="flex-item" >
    <div class="funcoes">
      <span><a (click)="setarNegrito()" >T</a></span>
      <span>B</span>
      <span><i class="fas fa-italic"></i></span>
      <span>< ></span>
      <span><i class="fas fa-list"></i></span>
      <span><i class="fas fa-underline"></i></span>
      <span><i class="fas fa-quote-right"></i></span>
      <span><i class="fas fa-link"></i></span>
    </div>
    <h1 (pointerleave)="pegarTextoSelecionado()" >Header</h1>
    <h3 (pointerleave)="pegarTextoSelecionado()" >my awesome editor</h3>

    <textarea (pointerleave)="pegarTextoSelecionado()"></textarea>



  </div>
</section>

